/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: : 100vh;
  width: 100vw;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
}

.phones {
	display: inline-block;
	position: absolute;
	top: 15%;
	left: 10%;
}

.content {
	border: 2px solid white;
	display: inline-block;
	border-radius: 5px;
	height: 300px; 
	width: 550px;
	list-style: none;
	position: absolute;
	top: 26.5%;
	left: 36.5%;
	background-color: white;
}

.images-content {
	text-align: : center;
}

.gram-logo {
	display: inline-block;
	float: right;
	margin: 7.5% 40%;
}

.h2 {
	color: #06365f;
	line-height: 35%;
}

.footer {
	list-style: none;
	color: #1c5380;
	font-weight: normal;
	text-align: center;
	position: fixed;
	left: 35%;
	bottom: 15%;
	word-spacing: 10px;
}
