body {
	width: 100vw;
	height: 100vh;
}

ul {
	list-style-type: none;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 0;
    background-color: #0085b2;
}



.boxes {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    display: inline-block;
    float: left;
    border: 1px solid black;
    list-style-type: none;
}