/*styling the navbar was done below*/
.navbar {
	list-style: none;
	text-align: center;
	margin: 0 auto;
	background-color: #cca75f;
	border-bottom: 2px solid;
	border-bottom-color: #575944;
}

.navDesign {
	color: black;
	text-decoration: bold;
}

/*main body*/
body {
	text-align: center;
}

.heading {
	margin: 20px 0;
}

a {
	color: black;
}

/*cards from bootstrap styled here*/
.col-centered {
	float: none;
	margin: 0 auto
}

p {
	color: #2959a5
}

.card {
	margin-bottom: 15px;
	box-shadow: 0px 5px 15px 0px #f2af07;
}

/*show styling*/
.show {
	background-color: #fff;
	margin: 10px 0;
	border-radius: 100%;
}

.showCard {
	margin-top: 25px;
	box-shadow: 0px 5px 15px 0px #f2af07;
}