
body {
	height: 100vh;
	width: 100vw;
	background-color: grey;
	font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
	list-style: none;
	border-bottom: : 1px solid black;
	border-bottom-color: purple;
	border-bottom-style: solid;
	border-bottom-width-width: medium;
}


nav.navbar {
	border-bottom: : 1px solid black;
	border-bottom-style: solid;
	border-bottom-width-width: medium;
	border-bottom-color: black;
}

.navDesign {
	color: grey;
}


.heading {
	text-align: center;
	text-decoration: underline;
	color: purple;
}


.jumboDesign {
	background-color: #f2efc7;
	border: 1px solid black;
	border-style: solid;
	border-width: medium;
	border-radius: 20px;
	margin: 2% 25% 2% 25%;
}

.headJumbo {
	color: blue;
	text-align: center;
}


.imageSize {
	width: auto;
	max-height: 210px;
}


.imageRadius {
	border-radius: 25px;
}


.cards {
	background-color: #f2efc7;
	border: 1px solid black;
	border-style: solid;
	border-width: medium;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.skyline {
	width: auto;
	max-height: 210px;
}


.okayVideo {
	width: auto;
	max-height: 210px;
}

.footerCard {
	background-color: #f2efc7;
	border-radius: 10px;
}

.navbar-centre {
	margin: 0 auto;
}
